body {margin: 0;
padding: 0;
}

.sectionone{
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header h3{
    color:white;
    font-family: roboto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto; 
    max-width: 1200px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    font-family: roboto;
    color: lightgray;
}

.websitetitle{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: start;
    padding: 20px;
    margin: 0 auto; 
    max-width: 1200px;
    font-family: roboto;
}

.websitetitle h1{
    color:white;
}

.websitetitle p{
    color:lightgray;
}

.websitetitle button{
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border:none;
    width: 100px;
    height: 30px;
}


.image img{
    max-width: 100%;
    height:500px;
    width: 400px;
    display: block;
    margin-left: auto;
}

.sectiontwo{
    padding: 100px;
}

.sectiontwo h2{
    text-align: center;
    font-family: roboto;
    font-size: 2em;
    font-weight: bold;
}

.imagestwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

.skill_icon{
    border: 5px solid #3882f6;
    border-radius: 50px;
}

.photo_caption{
    text-align: center;
    font-family: roboto;
    font-size: 2em;
}

.sectionthree{
    padding: 200px;
    background-color: #E5E7EB;
}

.quote{
    text-align: center;
    font-family: roboto;
}

.name{
    font-family: roboto;
    text-align: center;
}

.sectionfour{
    padding: 100px
}

.cta_container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 1rem 2rem;
    border-radius: 10px;
    height: 150px;
    width: 1000px;
    margin: 0 auto;
    gap: 250px;
}

.cta_caption{
    color:white;
    font-family: roboto;
}

.cta_button{
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border:none;
    width: 120px;
    height: 40px;
    border-style: solid;
}
